.contact-big-container{
    min-height: 100%;
    background-color: var(--light-black);
}

.contact-container {
    width: 100%;
    min-height: 100%;
    background-color: var(--light-black);
}

.contact-titles {
    position: relative;
    width: 90%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    align-items: baseline;
    padding-left: 25px;
}

.contact-main-title {
    margin: 0;
    margin-top: 30px;
    color: var(--white);
    font-weight: 600;
    font-size: 29px;
    text-shadow: 0px 0px 10px var(--black-75);
    z-index: 1;
}

.contact-background-title {
    position: absolute;
    display: block;
    margin: 0;
    font-size: max(56px);
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 0.3px var(--yellow);
}

.contact-info-container, .contact-form-container {
    width: 90%;
    margin: auto;
    /* padding-left: 25px; */
}

.contact-info-section {
    width: 100%;
}

.contact-info-section > h2, .contact-form-container > h2 {
    color: var(--yellow);
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 3px;
}

.contact-info-section > div, .contact-form-container > p, .contact-info-section > a {
    color: var(--white);
    font-size: 15px;
    font-weight: 200;
    margin-top: 0;
}

.contact-info-section > a {
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
}

.contact-info-section > a:hover {
    color: var(--yellow);
    transition: 0.3s ease;
}

.contact-form-container > p {
    font-size: 15px;
}

.form-row {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.form-row > div {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-row > div > input {
    width: 100%;
    border: none;
    background-color: var(--dark-gray);
    height: 24px;
    border-bottom: 1px solid var(--yellow);
    color: var(--white);
}

.contact-message {
    width: 100%;
    resize: vertical;
    border: none;
    background-color: var(--dark-gray);
    border-bottom: 1px solid var(--yellow);
    color: var(--white);
    font-family: 'poppins', sans-serif;
}

#contact-form label {
    color: var(--white);
    font-size: 15px;
    font-weight: 300;
}

#contact-submit {
    display: flex;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 6px 12px;
    font-size: 18px;
    margin-left: auto;
    margin-top: 10px;
    transition: 0.3s ease;
}
  
#contact-submit:hover {
    background-color: var(--white);
    color: var(--dark-gray);
    transition: 0.3s ease;
    cursor: pointer;
}

.icon-contact {
    padding-top: 3px;
    padding-left: 6px;
}

.contact-socials {
    padding: 0;
    padding-bottom: 25px;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 10%;
    margin-top: 25px;
    padding-bottom: 25px;
}

.contact-social {
    color: var(--white);
    text-decoration: none;
    font-size: 21px;
    font-weight: 200;
}

.contact-socials-desktop{
    display: none;
}

#success-message {
    margin-top: 35px;
    background-color: var(--dark-gray);
    border: 1px solid var(--white);
    padding: 5px 10px;
    color: var(--white);
    font-size: 15px;
    text-align: center;
}

@media only screen and (min-width: 768px){

    #contact-form {
        width: 80%;
        margin: auto;
        padding-top: 25px;
    }

    .contact-socials {
        width: 30%;
    }
}

@media only screen and (min-width: 1024px){

    .contact-container{
        min-height: unset;
    }

    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info-container {
        width: 20%;
        height: auto;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-info-section > h2, .contact-form-container > h2{
        font-size: 18px;
    }

    .contact-info-section > div, .contact-form-container > p, .contact-info-section > a {
        font-size: 15px;
    }

    .contact-form-container{
        width: 55%;
        margin-top: 0;
    }

    #contact-form {
        width: 100%;
    }

    .contact-socials-desktop{
        display: flex;
        list-style: none;
        width: 60%;
        margin-top: 25px;
        padding: 0;
        justify-content: space-between;
    }

    .contact-socials {
        display: none;
    }

    #contact-submit {
        margin-bottom: 25px;
    }
}