.portfolio-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);
    position: fixed;
    z-index: 2;
}

.portfolio-modal-content {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.portfolio-modal-back, .portfolio-modal-more {
    color: var(--yellow);
    font-size: 18px;
    background-color: transparent;
    border: none;
    font-family: 'poppins';
    font-weight: 300;
    padding: 5px 5px 5px 0px;
    display: flex;
    align-items: center;
}

.portfolio-modal-more {
    text-decoration: none;
}

.portfolio-icon-back, .portfolio-icon-more{
    -webkit-text-stroke: 1px var(--yellow);
    color: transparent;
}

.portfolio-icon-more {
    padding-left: 5px;
}

.portfolio-icon-back{
    padding-right: 5px;
}

.portfolio-icon-back:before {
    display: inline-block;
    transform: rotate(180deg);
}

.portfolio-modal-title {
    color: var(--white);
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 12px;
}

/*SWIPER*/

.portfolio-modal-swiper {
    width: 100%;
}

.portfolio-modal-swiper-slide {
    width: 100% !important;
    text-align: center;
    max-width: unset;
}

.portfolio-modal-swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    width: 90px !important;
}