.portfolio-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);
    position: fixed;
    z-index: 2;
}

.portfolio-modal-content {
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.portfolio-modal-back, .portfolio-modal-more {
    color: var(--yellow);
    font-size: 18px;
    background-color: transparent;
    border: none;
    font-family: 'poppins';
    font-weight: 300;
    padding: 5px 5px 5px 0px;
    display: flex;
    align-items: center;
}

.portfolio-modal-back:hover {
    color: var(--white);
    cursor: pointer;
}

.portfolio-modal-back:hover .portfolio-icon-more {
    -webkit-text-stroke: 1px var(--white);
}

.portfolio-modal-more {
    text-decoration: none;
    justify-content: end;
}

.portfolio-icon-back, .portfolio-icon-more{
    -webkit-text-stroke: 1px var(--yellow);
    color: transparent;
}

.portfolio-icon-more {
    padding-left: 5px;
}

.portfolio-icon-back{
    padding-right: 5px;
}

.portfolio-icon-back:before {
    display: inline-block;
    transform: rotate(180deg);
}

.portfolio-modal-title {
    color: var(--white);
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 12px;
}

/*SWIPER*/

.portfolio-modal-swiper {
    width: 100%;
    position: relative;
}

.portfolio-modal-swiper-slide {
    width: 100% !important;
    text-align: center;
    max-width: unset;
    height: auto;
}

.portfolio-modal-swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    width: 90px !important;
}

.portfolio-modal-iframe {
    height: 100%;
}

.swiper-button-next, .swiper-button-prev {
    /* background-color: #00000075; */
    /* padding: 10px; */
    text-shadow: 0px 3px 6px var(--black);
    /* border-radius: 50px; */
    font-weight: 100;
    position: absolute;
    top: 93%;
    transition: 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    color: var(--white);
    font-weight: 900;
    transition: 0.3s ease;
}

.swiper-button-prev {
    left: 30%;
}

.swiper-button-next {
    right: 30%;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px;
}

@media only screen and (min-width: 768px){
    
    .portfolio-modal-content {
        height: 100%;
    }
    
    .portfolio-modal-swiper-slide img {
        height: 100%;
        max-height: 50vh;
        max-width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
    }

    .portfolio-modal-swiper .swiper-button-next, .portfolio-modal-swiper .swiper-button-prev {
        top: 96%;
    }

    .swiper-button-prev {
        left: 35%;
    }
    
    .swiper-button-next {
        right: 35%;
    }
    
}